body, html, h1 {
  margin: 0;
  padding: 0;
}
.c-header {
  display: flex;
  height: 76px;
  align-items: center;
  background-image: -webkit-gradient(linear,right top,left top,from(#fff),to(#000));
  background-image: -webkit-linear-gradient(right,#fff,#000);
  background-image: linear-gradient(to left,#fff,#000);
  border-bottom: 1px solid rgba(0,0,0,.05);
}
.c-header h1 {
  padding-left: 48px;
  color: #fff;
}
.c-body {
  display: flex;
  position: absolute;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
}
.c-user {
  display: flex;
  flex: 1;
  padding: 8px;
  justify-content: flex-end;
}
.c-user img {
  width: 60px;
  height: 60px;
}
.c-main {
  flex: 1;
  position: relative;
  width: 60%;
  max-height: 800px;
  overflow: scroll;
}
.c-item {
  display: flex;
  flex: 1;
  margin-top: 24px;
}
.my-item{
  background-color: #ddd;
  padding: 5px;
}
.c-avatar {
  width: 50px;
  height: 50px;
  margin-right: 16px;
  border-radius: 50%;
}
 span.my-info{
  margin-right: 5px;color: #676767;
}
.my-avatar{
  vertical-align:middle;
  margin-right:3px;
}
.c-box {
  flex: 1;
}
.c-info {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.c-name {
  padding-bottom: 8px;
  color: #676767;
}
.c-content {
  color: #999;
}

.c-xxx {
  height: 60px;
}
.c-chat {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 24px;
  width: 800px;
  box-sizing: border-box;
  padding: 0 16px;
  background: #fff;
}
.c-avatar2 {
  width: 30px;
  height: 30px;
}
.c-btn {
  width: 80px;
}
.c-input {
  flex: 1;
  outline: none;
  margin: 0 16px;
  height: 49px;
  font-size: 18px;
}
.c-join-info {
  flex: 1;
  text-align: center;
  color: #ccc;
  font-size: 12px;
}

.c-right {
  width: 300px;
}
.c-ulist {
  display: flex;
  flex-wrap: wrap;
}
.c-uitem {
  list-style: none;
  margin: 2px;
}
.c-uitem img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.i-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #000;
}
.i-body h1 {
  color: #fff;
}
.i-body form {
  width: 43%;
}
.i-body input {
  width: 100%;
  height: 59px;
  margin-top: 16px;
  outline: none;
  background: #000;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-size: 28px;
}